.barchart { 
  background-color: #a3dbe3;
  height: 1em;
  padding: 0em;
  margin: 0.625em 0; 
  width: 100%; 
}

.barchart .meter {
  background: #2daebf;
  height: 100%;
  display: block; 
}

table.chart { 
  width: 100%;
  border-width: 0;
  margin: 40px 0; 

  .wind_arrow {
    background-size: 40px 43px;
    height: 43px;
    width: 40px;
    display: inline-block;
    margin:0px 10px;
    vertical-align: baseline;
  }
  .swell_arrow {
    background-size: 40px 43px;
    height: 43px;
    width: 40px;
    display: inline-block;
    margin:0px 10px;
    vertical-align: baseline;

  }
}

table tr.even, table tr.alt, table tr:nth-of-type(even) { 
  background: #FFF; 
}

td.chart {
  font-size: 14px;
  margin-bottom: 50px;
  padding: 0 0 20px 0; 
}

p.percentage {
  font-size: 30px !important; 
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;
} 