// Place all the styles related to the overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F0F0F0;
  color: #4B5969;
}

.container {
  text-align: center;
  h1 {
    font-size: 40px;
  }
}
